@model First_MVC_Project.ViewModels.UserTaskViewModel

<center><h2>Dashboard</h2></center>

<h2>Report for @ViewBag.Year </h2>
<h4>Users Count: @Model.UsersCount</h4>
<h4>Tasks Count: @Model.TasksCount</h4>